<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=Edge, Chrome=1' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap'); *
      { box-sizing: border-box; outline: none; padding: 0; margin: 0; } a,
      a:link, a:visited, a:focus, a:hover, a:active{ text-decoration:none; }
      body { display: flex; min-height: 100vh; width: 1490px; height:
      700px;flex-direction: column; background-color: #21242E; background-image:
      url('-'); background-repeat: repeat; font-family: 'Ramabhadra'
      ,sans-serif; font-weight: 600; color: #fff; } .main-container { display:
      flex; justify-content: center; align-items: center; } .cards-container {
      display: grid; grid-template-columns: repeat(10, 140px); } .card { height:
      100vh; background-size: 165% auto; background-repeat: no-repeat;
      background-position: center; display: flex; justify-content: center;
      align-items: center; padding: 0 5px; } .image-container { position:
      relative; overflow: hidden; height: 500px; position: relative; display:
      flex; justify-content: center; align-items: center; } .image { width:
      100%; } .nameplate { font-size: 0.8em; padding: 10px; line-height: 20px;
      text-align: center; position: absolute; margin: 0 5px; right: 0; left: 0;
      bottom: 130px; background-color: rgba(0, 0, 0, 0.505); } /*! common and
      rare */ .card--common { background-image:
      url('https://i.imgur.com/86bMPBl.png'); } .card--rare { background-image:
      url('https://i.imgur.com/bEMpgLf.png'); } /*! SR */ .card--sr1-normal {
      background-image: url('https://i.imgur.com/zjuGJ8a.png'); }
      .card--sr2-normal { background-image:
      url('https://i.imgur.com/bIjGAD8.png'); } .card--sr1-new {
      background-image: url('https://i.imgur.com/q0S4pwZ.png'); } .card--sr2-new
      { background-image: url('https://i.imgur.com/Avh5k6m.png'); } /*! SRR */
      .card--srr1-normal { background-image:
      url('https://i.imgur.com/WMkSDPr.png'); } .card--srr2-normal {
      background-image: url('https://i.imgur.com/rLdnG6h.png'); }
      .card--srr1-new { background-image:
      url('https://i.imgur.com/V9B1hkD.png'); } .card--srr2-new {
      background-image: url('https://i.imgur.com/V9B1hkD.png'); }
    </style>
  </head>
  <body>
    <div class='main-container'>
      <div class='cards-container'>
        {{#each data}}
          <div class='card {{this.class}}'>
            <div class='card-content-container'>
              <div class='image-container'>
                <img class='image' src='{{this.img}}' />
                <div class='nameplate'>
                  <p class='name'>{{this.name}}</p>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </body>
</html>
